spring:
  application:
    name: "eCom"

  datasource:
    url: jdbc:mysql://localhost:3306/eCom
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true